*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#sound-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 colonnes, ajustez selon votre besoin */
    gap: 15px;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sound-button {
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sound-button:hover {
    background-color: #0056b3;
}


