@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    position: relative;
    background-color: #ddd7dd;
}

#press-key{
    border: 2px solid white;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    text-align: center;
    padding-top:3px;
    font-size:large;
    position: absolute;
    background-color:#e3e5f4;
    

}

.row{
    display: flex;
    flex-direction: row;
    top: 50px;
    display: none;
   
   
    
}

.column{
    display:flex;
    flex-direction: column;
    border: 2px solid #e3e5f4;
    width:150px;
    height: 50px;
    margin:15px;
    
}


h3{
    text-align: center;
    font-weight:600
}
