*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container {
    display: flex;
    
    
  }
  
  .left-panel, .right-panel {
    flex: 1; /* Les deux panneaux prennent une part égale de l'espace */
     /* Optionnel : bordure pour séparer visuellement */
   /* Espacement intérieur pour le contenu */
  }

 .left-panel img{
    width:925px;
    height: 980px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel img{
    width:925px;
    height: 980px;
}
  

.left-panel.change-width img{
    width: 1200px;
    transition: width 2s;
}




.overlay {
    position: absolute;
    transition: .5s ease;
    top: 350px;
    left: 400px;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 220px;
  }


  .overlay1 {
    position: absolute;
    transition: .5s ease;
    top: 350px;
    right: 400px;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 220px;
  }

  .overlay:hover, .overlay1:hover{
    background-color:#61d800;
  }