@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8648df;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  width: 450px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

#output {
  margin-top: 20px;
}

.character {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #eea12b;
  color: white;
}

h3{
  margin-bottom: 15px;
  color: white;
}

.animation{
  background-color:black;
}