*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #c77d22;
}



.container {
    height: 1000px; /* Hauteur suffisante pour faire défiler */
    overflow:hidden ;
    /* Cache tout contenu débordant */
 
}

h1{
    display:flex;
    align-items: center;
    justify-content: center;
}

.box {
   
    border: 1px solid ; 
    width: 250px;
    height: 100px;
    background-color: #4e18de;
    color:white;
;/* Transition de l'opacité */
    margin:10px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

/* Déclencheur basé sur le défilement */
.container.scrolled .box {
    opacity: 1;
    transform: translate(50%);
    transition: transform 2s ease-in-out;
    margin:10px 0;

}
